@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .input {
    @apply p-2 bg-transparent outline-none text-gray-600;
  }
  .inputIcon {
    @apply h-6 w-6 text-gray-500 ml-2;
  }
  .inputBox {
    @apply flex items-center bg-white rounded-md;
  }
}

.glassEffect {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
